.checkbox
  background-color red
  display inline-block
  border-radius  5px

  label
    margin-left 20px
    padding 8px
    display inline-block

  input[type='checkbox']
    width 100%
    position absolute
    visibility hidden


blue-navy-76          = #007DC3
blue-cerulean-63      = #0064A1

button-text()
  text-shadow 0 1px 1px rgba(0,0,0,0.8)
  color #fff

.btn.btn-primary
  background  linear-gradient(blue-navy-76, blue-cerulean-63)
  border 1px solid blue-cerulean-63
  box-shadow 0 3px 5px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.2)
  button-text()

.btn
  font-family 'Open-Regular', Verdana, sans-serif
  font-size 14px

  box-sizing border-box
  min-width 90px
  height 28px
  display inline-block
  text-align center
  vertical-align middle
  padding 5px 20px
  line-height 1
  border-radius 2px
  position relative
  cursor pointer
  text-decoration none
  user-select none
  background HotPink
  color Lime
