node-frame()
  padding 8px 10px

.nodes
  position relative


.node
  position absolute
  border 1px solid #333
  min-width 100px
  min-height 100px

  .grab-bar
    node-frame()
    border-bottom 1px solid #333

    b
      display inline-block
      font-weight bold

  .content
    node-frame()
