extends ../layouts/default.jade

block main
  div(class="container")
    div(class="row")
      div(class='col-lg-6')
        form(name="loginForm" method="post" action="/login" class='form-horizontal')
          fieldset
            h3 Login

            div(class="form-group")
              label(class='col-lg-2 control-label') Username
              div(class="col-lg-10")
                input(type="text" name="username" class="form-control")

            div(class="form-group")
              label(class='col-lg-2 control-label') Passowrd
              div(class="col-lg-10")
                input(type="text" name="password" class="form-control")

            div(class="form-group")
              div(class='col-lg-10 col-lg-offset-2')
                button(type="submit" value="submit") Submit
