{{!< layouts/default }}

<form name="loginForm" method="post" action="/login">
  <h3>Login</h3>
  <div>
    <label>Username</label>
    <br/>
    <input type="text" name="username"/>
  </div>
  <div>
    <label>Passowrd</label>
    <br/>
    <input type="text" name="password"/>
  </div>
  <div>
    <button type="submit" value="submit">Submit</button>
  </div>
</form>