mixin js(src)
  script(type='text/javascript' src='/assets/js/gen/'+src)

mixin style(src)
  link(rel="stylesheet" href="/assets/css/gen/"+src)

mixin jsLib(src)
  script(type='text/javascript' src='/assets/js/lib/'+src)