doctype html
html
  head
    title Timez In
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    include ../partials/css.jade
    include ../partials/scripts.jade
  body
    dl
      dt layout:
      dd layout.jade
    block main
