<html>
<head>
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {{> css}}
  {{> scripts}}
  <script type="text/javascript" src="/js/socket.io-1.2.1.js"></script>
  <script type="text/javascript" src="/js/SocketExample.js"></script>
</head>
<body>

<dl>
  <dt>Layout</dt>
  <dd>socket.hbs</dd>
</dl>
{{{body}}}
</body>
</html>